.about {
    background: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.5rem 2.5rem;
    gap: 135px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: var(--font-family);
}

.item h3, .item p {
    margin: 0;
}

.item h3 {
    color: var(--blue-dark);
    font-size: 25px;
}

.item p {
    color: var(--blue);
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.icon {
    background: var(--blue);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding: 10px;
}

.bottom {
    /* display: flex;
    align-items: flex-start;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrapper img {
    width: 100%;
    height: 360px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.container .info {
    width: 48%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.container .main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}

.container .info h3, .container .main h3 {
    margin: 0;
    font-size: 35px;
    font-family: 'Cormorant Infant', sans-serif;
    color: var(--blue-dark);
    font-weight: 700;
}

.container .info p, .container .main p {
    margin: 0;
    color: var(--gray);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.innerContainer {
    display: flex;
    flex-wrap: wrap;
}

.container .info:nth-child(3) h3{
    color: var(--gray);
    font-weight: 500;
}

.container .info:nth-child(3) img {
    width: 300px;
    height: 100px;
}