.banner {
    width: 100%;
    margin: 125px 0;
    background: url('../assets/background.jpg');
    height: 500px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

.chiefs {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.chefs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.singleChef {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.singleChef h3, .singleChef p {
    margin: 0;
    margin-top: 10px;
}

.singleChef a {
    font-size: 30px;
    font-weight: 500;
    color: #333;
    margin-top: 10px;
}

.singleChef p {
    font-size: 25px;
    font-weight: 300;
}

.singleChef .img {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleChef img {
    width: 100%;
    height: 360px;
}

.chefSocial {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(51, 50, 50);
    gap: 20px;
    font-size: 20px;
    height: 50px;
    color: white;
    transition: all 0.5s ease-in-out;
    transform: translateY(50px);
}

.singleChef:hover .chefSocial {
    transform: translateY(0px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0000007d;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    padding: 20px;
    border-right: 3px solid #7a7a7a;
}

.lastAbout{
    border-right: none !important;
}

.about img {
    fill: var(--gold);
    width: 80px;
    height: 80px;
}

.about p, .about h4 {
    color: var(--light);
    margin: 10px 0;
}

.about h4 {
    font-size: 25px;
}

.about p {
    font-size: 19px;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

.about a {
    color: var(--gold);
    font-size: 19px;
    margin-top: 10px;
}

.gallery {
    padding: 100px;
    background: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.galleryWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}

.galleryWrapper img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 !important;
}

.leftCol, .rightCol {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1250px) {
    .banner {
        flex-direction: column;
        height: unset;
    }

    .about {
        border: none !important;
        width: 100%;
    }

    .chefs {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .chefSocial{
        transform: translateY(55px);
    }

    .gallery {
        padding: 100px 20px;
    }

    .galleryWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.leftCol, .rightCol {
    grid-template-columns: 1fr;
}

.singleChef img {
    object-fit: cover;
}
}

@media screen and (max-width: 650px) {
    .banner {
        margin: 0;
        padding: 50px 20px;
    }
    .chefs {
        grid-template-columns: 1fr !important;
    }
}