.blog {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}