.chef {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    background-color: var(--light);
    gap: 50px;
}

.left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.left img {
    width: 100%;
    height: 600px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1.5;
    gap: 50px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.right h2, .right h3, .right p {
    margin: 0;
}

.right h2 {
    font-size: 45px;
}

.right h3 {
    color: var(--gold);
    font-size: 30px;
}

.right p {
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-size: 20px;
}

.center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.icon {
    background: black;
    color: white;
        display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    font-size: 50px;
}

.bottom, .icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
}

@media screen and (max-width: 1250px) {
    .chef {
        flex-direction: column;
        align-items: center;
    }

    .chef .right .center {
        grid-template-columns: 1fr;
    }

    .item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .bottom {
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

    .bottom .icons {
        align-items: center;
        justify-content: center;
    }


}

@media screen and (max-width: 750px) {
    .left img {
        height: 300px;
    }

    .top {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}