.DivWithBack {
    background: url('../assets/background.jpg');
    height: 600px;
        background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .DivWithBack {
        height: 380px;
    }
}