.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.offer,
.offerp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.offer {
  background: url("../assets/blueback.jpg") no-repeat center center;
}

.offerp {
  background: url("../assets/whiteback.jpg") no-repeat center center;
}

.offerDetails {
  width: 50%;
}

.offerImg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offerImg img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.offerPrice,
.offerPricep {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(-30deg);
  width: 150px;
  height: 150px;
  background-size: contain;
}

.offerPrice {
  background: url("../assets/vectors/offer.svg") no-repeat center center;
}

.offerp .offerPrice {
  background: url("../assets/vectors/offerdark.svg") no-repeat center center;
}

.offerPrice p,
.offerPrice h3,
.offerp .offerPrice p,
.offerp .offerPrice h3 {
  margin: 0;
}

.offerPrice p,
.offerp .offerPrice p {
  font-size: 25px;
  margin-bottom: 10px;
}

.offerPrice h3,
.offerp .offerPrice h3 {
  font-size: 35px;
  margin-top: 5px;
}

.offerp .offerPrice h3,
.offerp .offerPrice p {
  color: var(--light);
}

.offerDesc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.offerDesc p:nth-child(1) {
  font-size: 20px;
  margin: 10px 0 0 0;
  color: var(--gray);
}

.offerDesc p:nth-child(1)::after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--gold);
}
.offerDesc p:nth-child(1)::before {
  content: "";
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--gold);
}

.offerDesc h2 {
  font-size: 30px;
  margin: 20px 0;
  color: var(--blue-dark);
}

.offerDesc p:nth-child(3) {
  font-size: 18px;
  margin: 0;
  color: var(--gray);
  letter-spacing: 1px;
}


@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: 1fr;
  }
}