.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.offerWrapper {
  background: var(--blue-dark);
  padding: 80px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.offerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.offerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid var(--blue);
    flex-direction: column;
    padding: 40px;
    text-align: center;
    width: 255px;
    height: 255px;
}

.offerBox img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.offerBox h3 {
    color: var(--light);
    margin: 5px 0;
    line-height: 1.5;
}

@media screen and (max-width: 1250px) {
    .offerWrapper {
        flex-direction: column;
        gap: 50px;
    }

    .offerContainer {
        grid-template-columns: 1fr;
    }
}