.recipe {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img {
    flex: 1;
    width: 100%;
}

.img img {
    width: 100%;
    height: 500px;
    aspect-ratio: unset;
    object-fit: cover;
    
}

.table {
  padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background: var(--light); */
}

.table h2 {
  margin: 0;
  font-size: 35px;
  margin-bottom: 20px;
}

.tableContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  border-top: 1px solid gray;
  /* margin-top: 15px; */
}

.left {
  border-right: 1px solid gray;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.ingredient img {
  border: 1px solid gray;
}

.leftCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px 0;
}

.right {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rightWrapper {
  width: 100%;
    padding: 40px 15px;
}

.rightWrapper img {
  width: 100%;
    height: 350px;
    aspect-ratio: unset;
    object-fit: cover;
}

.details {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomTableContainer {
      display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    margin-top: 40px;
    gap: 90px;
}

.bottomTableContainer .left, .bottomTableContainer .right {
  border: none;
      display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}


.bottomTableContainer .left h2 {
  margin: 0;
  /* margin-left: 30px; */
  font-size: 35px;
}
.bottomTableContainer .right h2 {
  margin: 0;
  font-size: 35px;
}

.instructions, .nutrition {
  display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid gray;
    padding-top: 40px;
}

.nutrition {
  width: 100%;
  gap: 0;
}

.nutInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nutInfo p {
  font-weight: 500;
  font-size: 20px;
}

.nutInfo div {
  flex: 1;
  border-bottom: 1px dashed black;
  margin: 0 15px;
}

.instr h3, .instr p{
  display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 0;
}

.instr p {
  padding-left: 35px;
  padding-top: 15px;
  margin-left: 11px;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-align: justify;
}

.instr h3{
  font-size: 25px;
}


.instr h3::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--gold);
}

.instr p::before {
  content: "";
    /* width: 1px; */
    border-left: 2px dashed gray ;
    height: 95px;
    position: absolute;
    left: 0;
    top: 0;
}

.instr:last-child p::before {
  content: unset;
}
